<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{lista.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
   
    <ion-item>
      <ion-label  position="floating" color="primary">Nuevo Item</ion-label>
      <ion-input (keyup.enter)="agregarItem()" [(ngModel)]="nombreItem"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
   
      <ion-list-header *ngIf="lista.items.length>0" >
        Tareas por hacer
      </ion-list-header>
      <ion-item-sliding class="animated fadeInDown" *ngFor="let item of lista.items;let i=index" >
        <ion-item (click)="actualizarTarea(item)"  button detail="false" >
         
          <ion-icon *ngIf="!item.completados" slot="start" name="square-outline"></ion-icon>
          <ion-icon *ngIf="item.completados" slot="start" name="checkbox-outline"></ion-icon>
          {{item.desc}}
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="borrar(i)">
              <ion-icon slot="icon-only" name="close" ></ion-icon>
             </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>

    
  </ion-list>
  
  
</ion-content>


